* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(238, 215, 215);
    color: white;
    font-family: 'roboto', sans-serif;
}
.contenedor-section{
    width: 90%px;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
    /* flexbox*/
    /*
    display: flex;
    gap: 20px;*/
    /*grid*/
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px
}
.contenedor-conciertos{
    /* flexbox*//*
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;*/
    /*grid*/
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

}

.card1 {
    background-image: url("/img/metallica.jpg");
    border-radius: 10px;
    min-height: 200px;
    font-weight: bold;
    padding: 20px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    /* flexbox*//*
    width: 33.33%;*/

}

.card2 {
    background-image: url("/img/aerosmith.jpg");
    border-radius: 10px;
    min-height: 200px;
    font-weight: bold;
    padding: 20px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    /* flexbox*//*
    width: 33.33%;*/



}

.card3 {
    background-image: url("/img/Kiss.jpg");
    border-radius: 10px;
    min-height: 200px;
    font-weight: bold;
    padding: 20px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    /* flexbox*//*
    width: 33.33%;*/

}
.texto{
    height: 100%;
/* flexbox*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /*grid*//*
    display: grid;
    grid-template-rows: 1fr auto;*/

}
.banner {
    background-image: url("/img/guitarra-banner.jpg");
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    background-size: cover;
    background-position: center center;

    /* flexbox*/
    
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*grid*/
    /*display: grid;
    grid-template-rows: auto auto auto;
    align-items: center;*/
    
}
